- unless @followings.empty?
  #grid_elements
    -@followings.each do |follow|
      %section.follow_element
        #preview
          %a{:href => "#{user_show_path(follow)}"}
            #item{:style => "background: url(#{follow.avatar.url(:medium)});background-position: -2px -10px;"}
            #item{:style => ""}
              .string
                %span.ellow= follow.name
              .string= follow.count_user_followers.to_s+' подписчиков'
              .string= follow.following_items_count.to_s+' вещей'
              .string= follow.collections.count.to_s+' коллекций'
            -items = follow.following_by_type('Item').limit(2).order("created_at DESC")
            -unless items.empty?
              -items.each do |item|
                #item{:style => "background: url(#{item.image.url(:small)})"}
        - if @user == current_user
          #info
            =link_to 'Отписаться', '#', class: 'unfollow', id: follow.id
- else
  .gi
    %h2 Пока нет ни одной подписки