:javascript
  $(document).ready(function() {
    // клик на инпуте изображения
    $('#load_image').click(function(){
      $('#imgInp').click();
    });

    // при выборе изображения запускаем диалог добавления товара
    $("#imgInp").change(function (){
      $('.first_step').css('display','block');
      $('.second_step').css('display','none');
      $('#itemmodal').arcticmodal();
    });

    // Действия при переходе ко второму шагу добавления товара
    $('#done').click(function(){
      var item_name = $('input#item_name').val();
      if (item_name != ''){
        $('li#item_name').text(item_name);
        $('.first_step').css('display','none');
        $('.second_step').css('display','block');
      } else {
        showErrors('введите название товара!');
      }
    });

    // выбор пола
    $('span.sex').click(function(){
      var sex = $(this).attr('value');
      $('input#item_sex').val(sex);
      $('span.sex').addClass('blue_button');
      $(this).removeClass('blue_button');
    });
  });
.gi
  %ul#search_forms
    %li
      =form_tag({controller: "search", action: "frame"}, method: "get", class: "search_form") do
        =text_field :site, :url, placeholder: 'Вводим интернет адрес Интернет-магазина (alpha!)'
        =submit_tag("выбрать")
    %li
      %span Либо
    %li
      %form{:'accept-charset'=>"UTF-8", :action=>"/search/site", :class=>"search_form"}
        %input{placeholder: 'Ищем по названию товара, магазина или коллекции на сайте (не раб!)', :id => 'site_url', :name => 'site_url'}
        %input{:id => 'site_button',:type => 'submit', :value=>"OK"}
    %li
      %span Либо  
    %li
      %form{:class=>"search_form", :action=>"#"}
        %input{placeholder: 'Загружаем картинку товара с компа', :id => 'site_url'}
        %input{:id => 'load_image',:type => 'submit', :value=>"Загрузить"}
.g-hidden{:style => 'display: none'}
  .box-modal#itemmodal
    .box-modal_close.arcticmodal-close
      Закрыть
    = form_for @item, :html => { :multipart => true } do |f|
      %ul.first_step
        %li.center_image.center
          %img{:class => "image_preview", :src => "#", :alt => "Изображение товара"}
          = f.file_field :image, :id => 'imgInp', :style => 'display: none;'
        %li.notice-bar{class:"error"}
        %li.center=f.text_field :name, :placeholder => 'название товара'
        %li.center=f.text_field :name, :placeholder => 'коллекция'
        %li.center
          %span.button.blue_button#done Done!
      %ul.second_step{:style => 'display: none;'}
        %li.image
          %img{:class => "image_preview", :src => "#", :alt => "Изображение товара"}
          .right
            %ul
              %li.f24 Товар у вас :) Почти
              %li.name#item_name Apple Mac Boock
              %li
                = f.text_field :prise, :placeholder => 'цена', :class => 'prise'
                %span руб
        %li.center
          %span.button.sex.blue_button{:value => 2} мужчинам
          %span.button.sex.blue_button{:value => 1} женщинам
          %span.button.sex{:value => 0} без разницы
          =f.text_field :sex, :style => 'display: none;'
        %li.center= f.text_field :comment, :placeholder => 'комент #тэг @человек'
        %li.center
          %span.checkbox{:style => 'margin: 0 5px -8px 0;'}= check_box_tag 'rock'
          %span Кстати, это не одежда
        %li.center= f.submit "Закидываем", :class => 'button blue_button'