.g-hidden{:style => 'display: none'}
  .box-modal#loginModal
    .box-modal_close.arcticmodal-close
      Закрыть
    %span#title ХОЧУЛИ ? ДАВАЙТЕ ОПРЕДЕЛИМСЯ :)
    %ul#social
      %li.vk
        = link_to '&nbsp'.html_safe, user_omniauth_authorize_path(:vkontakte)
      %li.od
        = link_to '&nbsp'.html_safe, user_omniauth_authorize_path(:odnoklassniki)
      %li.ma
        = link_to '&nbsp'.html_safe, user_omniauth_authorize_path(:mailru)
    %span ИЛИ
    %ul.notice-bar{class:"error"}
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'sign_up_form', :style => 'display: none;'}, :format => :json, :remote => true) do |f|
      = devise_error_messages!
      = f.email_field :email, :placeholder => 'почта'
      = f.text_field :name, :placeholder => 'имя'
      = f.password_field :password, :placeholder => 'пароль', :autocomplete => "off"
      %li
        #shop
          %span.checkbox#shopcheck{:style => 'margin: 0 5px -8px 0;'}= f.check_box :shop
          %span Я магазин
      = f.text_field :phone, :placeholder => 'Ваш моб.телефон', :class => 'phone'
      = f.submit "Регистрация", :class => 'button', id: 'inp_sign_up_button'
      %div.registered
        %span#login_button.pointer Вход для зарегистрированных пользователей

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'login_form'}, :format => :json, :remote => true) do |f|
      = devise_error_messages!
      = f.email_field :email, :placeholder => 'почта'
      = f.password_field :password, :placeholder => 'пароль'
      = f.submit "вход", :class => 'button'
      %span#sign_up_button.pointer Регистрация
