!!!
%html
  %head
    %title= title + ' - ' + Setting.site_name
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main
      %header#hd.normal
        %nav.gr
          = link_to 'ХОЧУ<span class=\'nav_end_word\'>ЛИ</span>'.html_safe, root_path, class: :nav_logo
          .nav_title= nav_title
          %ul.nav_user
            %li
              - if user_signed_in?
                = link_to current_user.name, edit_user_registration_path, class: :nav_user_profile
                = link_to 'выход', destroy_user_session_path, method: :delete
              - else
                = link_to 'Вход', '#', :onclick => '$(\'#loginModal\').arcticmodal()', :href => '#'
          .nav_pointer
      #conteiner
        #left_group
          %ul.big_nav
            %li
              = link_to 'Новое', root_path, class: :big_nav_links
            %li
              = link_to 'Популярное', popular_path, class: :big_nav_links
            %li= link_to 'Женское', items_by_sex_path(1), class: 'big_nav_links'
            %li= link_to 'Мужское', items_by_sex_path(2), class: 'big_nav_links'
            %li= link_to 'Десткое', items_by_sex_path(3), class: 'big_nav_links'
          - if user_signed_in?
            #drug_box
              Перетащите картинку товара сюда:
              #drug_hart &nbsp
            %ul.big_nav
              %li
                = link_to '@' + (current_user.nickname.blank? || current_user.nickname == current_user.id.to_s ? 'I_AM' : current_user.nickname), user_show_path(current_user), class: :big_nav_links
              %li=link_to 'Подписчики', followers_path(current_user), class: 'big_nav_links'
              %li=link_to 'Подписки', followed_by_path(current_user), class: 'big_nav_links'
              %li=link_to 'Магазины', followed_by_shop_path(current_user), class: 'big_nav_links'
              -if user_signed_in? 
                %li=link_to 'Лента событий', tape_path, class: 'big_nav_links'
            #search
              =link_to 'Сделать серч', search_path
            - unless @pop_tags.blank?
              %ul.small_nav
                %li Популярные хэш-тэги
                - @pop_tags.each do |tag|
                  %li=link_to '#'+tag.name, tags_path(tag.name), class: 'small_nav_links'
        #bd
          #content
            = yield
        #notice Сообщение
      #footer
      - if not user_signed_in?
        = render partial: "shared/login"
      - else
        = render partial: 'shared/add_to_collection'