.gue
  %h2 Ава
  #user_avatar
    .avatar
      =image_tag @user.avatar.url(:medium)
    %span#edit_avatar_button.blue_button Изменить
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'user_form',:multipart => true }) do |f|
    = flash[:notice]
    = devise_error_messages!
    %ul
      %li Профиль
      %li= f.email_field :email, placeholder: 'Email', class: :input, :value => (surrogat_email?(resource) ? '' : resource.email)
      %li= f.text_field :name, placeholder: 'Имя', class: :input
      %li.m_left
        #left_title @
        = f.text_field :nickname, placeholder: 'логин', class: :input
      %li= f.text_field :city, placeholder: 'Город', class: :input
      = f.text_area :about, class: :input, rows: 5, maxlength: 140, placeholder: 'Немного о себе'
      %li{:style => 'display: none'}=f.file_field :avatar, :id => 'avatar_input'
      %li.m_left
        #left_title.radio=f.radio_button :sex, 2, :checked => current_user.sex==2 || nil, class: 'availability'
        =f.label :sex_2, 'Муж'
      %li.m_left
        #left_title.radio=f.radio_button :sex, 1, :checked => current_user.sex==1 || nil, class: 'availability'
        =f.label :sex_1, 'Жен'
      %li.m_left
        #left_title.radio=f.radio_button :sex, 0, :checked => current_user.sex==0 || nil, class: 'availability'
        =f.label :sex_0, 'Не важно'
      %li Уведомления по почте
      %li.m_left
        #left_title.checkbox= check_box_tag 'rock', class: 'availability'
        Подписчики
      %li.m_left
        #left_title.checkbox= check_box_tag 'rock', class: 'availability'
        Упоминания
      %li.m_left
        #left_title.checkbox= check_box_tag 'rock', class: 'availability'
        Новые товары у подписчиков
      /- if devise_mapping.confirmable? && resource.pending_reconfirmation?
      /  %li Currently waiting confirmation for: #{resource.unconfirmed_email}
      -unless provider?(current_user)
        %li
          %a#edit_pass_button.blue Изменить пароль
        #pass_inputs{:style => 'display: none'}
          %li= f.password_field :password, :autocomplete => "off", class: :input, placeholder: 'новый пароль'
          %li= f.password_field :password_confirmation, class: :input, placeholder: 'повторите пароль'
          %li= f.password_field :current_password, class: :input, placeholder: 'текущий пароль'
      %li= f.submit "Сохранить",:class => 'button'
  /%p
  /  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
  = render partial: 'shared/image_upload'